In [1]:
import pandas as pd
import numpy as np
import os,glob

In [11]:
PATH = '/Users/boristsao/Documents/Projects/canada-vis/data-exploration/cleaned-data/'
# test = [x[0] for x in os.walk(PATH)]

directory = PATH + 'age_groups_of_the_population'
li = []
for csv_file in glob.glob(os.path.join(directory, '*.csv')):
    li.append(pd.read_csv(csv_file))

df = pd.concat(li, axis=0, ignore_index=True)
categories = df["NEW_CHARACTERISTIC_NAME"].unique()

new_df = df[["CENSUS_YEAR", 'DGUID', "ALT_GEO_CODE", "GEO_LEVEL", "GEO_NAME", "NEW_CHARACTERISTIC_NAME", 'C1_COUNT_TOTAL', 'C2_COUNT_MEN+', "C3_COUNT_WOMEN+"]]

/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_42676/2218313486.py:7: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_42676/2218313486.py:7: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))

In [17]:
total = new_df.set_index(['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME", "NEW_CHARACTERISTIC_NAME"])['C1_COUNT_TOTAL'].unstack().reset_index()
original_columns =  total.columns.tolist()
t_transformed_columns = total.drop(['CENSUS_YEAR', 'DGUID','ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"], axis=1).columns
t_transformed_columns = ['CENSUS_YEAR', 'DGUID','ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"]+  ["Total " + s.lstrip() for s in t_transformed_columns]
total.columns = t_transformed_columns

In [12]:
# Men Columns
men = new_df.set_index(['CENSUS_YEAR', 'DGUID','ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME", "NEW_CHARACTERISTIC_NAME"])['C2_COUNT_MEN+'].unstack().reset_index()
original_columns =  men.columns.tolist()
m_transformed_columns = men.drop(['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"], axis=1).columns
m_transformed_columns = ['CENSUS_YEAR', 'DGUID','ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"]+  ["Male " + s.lstrip() for s in m_transformed_columns]
men.columns = m_transformed_columns

In [13]:
# Women Columns
women = new_df.set_index(['CENSUS_YEAR', 'DGUID','ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME", "NEW_CHARACTERISTIC_NAME"])['C3_COUNT_WOMEN+'].unstack().reset_index()
original_columns =  women.columns.tolist()
f_transformed_columns = women.drop(['CENSUS_YEAR', 'DGUID','ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"], axis=1).columns
f_transformed_columns = ['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"]+  ["Female " + s.lstrip() for s in f_transformed_columns]
women.columns = f_transformed_columns

In [14]:
final = pd.concat([ men, women], axis=1, join="inner", ignore_index=True, keys=['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"])
final_columns =  m_transformed_columns + f_transformed_columns
final.columns = final_columns
final = final.loc[:,~final.columns.duplicated()].copy()
# final.to_csv('test.csv')

In [8]:
final.head()

,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,Male 0 to 4 years,Male 10 to 14 years,Male 100 years and over,Male 15 to 19 years,Male 20 to 24 years,...,Female 50 to 54 years,Female 55 to 59 years,Female 60 to 64 years,Female 65 to 69 years,Female 70 to 74 years,Female 75 to 79 years,Female 80 to 84 years,Female 85 to 89 years,Female 90 to 94 years,Female 95 to 99 years
0,2021,2021A000210,10,Province,Newfoundland and Labrador,9760.0,13535.0,15.0,13275.0,13555.0,...,19685.0,21615.0,21830.0,20735.0,17805.0,11780.0,7280.0,3910.0,1880.0,485.0
1,2021,2021A000211,11,Province,Prince Edward Island,3475.0,4455.0,5.0,4335.0,5565.0,...,5115.0,6005.0,5970.0,5450.0,4770.0,3095.0,2110.0,1355.0,640.0,210.0
2,2021,2021A000212,12,Province,Nova Scotia,20610.0,25505.0,50.0,24770.0,30115.0,...,33175.0,39870.0,39850.0,35665.0,31140.0,20925.0,14040.0,8740.0,4300.0,1435.0
3,2021,2021A000213,13,Province,New Brunswick,16625.0,20755.0,40.0,20105.0,21995.0,...,26450.0,31795.0,31870.0,29605.0,25135.0,16580.0,11310.0,7120.0,3645.0,1200.0
4,2021,2021A000224,24,Province,Quebec,217145.0,250855.0,330.0,219400.0,235250.0,...,260325.0,308465.0,317900.0,277950.0,237910.0,177050.0,119580.0,81150.0,44535.0,11790.0

In [15]:
new_columns = {}
for column in final.columns:
        new_columns[column] = column.lower().replace(" ", "_").replace("-", "_")

In [16]:
final = final.rename(columns=new_columns)

In [17]:
final.head()

,census_year,dguid,alt_geo_code,geo_level,geo_name,male_0_to_4_years,male_10_to_14_years,male_100_years_and_over,male_15_to_19_years,male_20_to_24_years,...,female_50_to_54_years,female_55_to_59_years,female_60_to_64_years,female_65_to_69_years,female_70_to_74_years,female_75_to_79_years,female_80_to_84_years,female_85_to_89_years,female_90_to_94_years,female_95_to_99_years
0,2021,2021A000210,10,Province,Newfoundland and Labrador,9760.0,13535.0,15.0,13275.0,13555.0,...,19685.0,21615.0,21830.0,20735.0,17805.0,11780.0,7280.0,3910.0,1880.0,485.0
1,2021,2021A000211,11,Province,Prince Edward Island,3475.0,4455.0,5.0,4335.0,5565.0,...,5115.0,6005.0,5970.0,5450.0,4770.0,3095.0,2110.0,1355.0,640.0,210.0
2,2021,2021A000212,12,Province,Nova Scotia,20610.0,25505.0,50.0,24770.0,30115.0,...,33175.0,39870.0,39850.0,35665.0,31140.0,20925.0,14040.0,8740.0,4300.0,1435.0
3,2021,2021A000213,13,Province,New Brunswick,16625.0,20755.0,40.0,20105.0,21995.0,...,26450.0,31795.0,31870.0,29605.0,25135.0,16580.0,11310.0,7120.0,3645.0,1200.0
4,2021,2021A000224,24,Province,Quebec,217145.0,250855.0,330.0,219400.0,235250.0,...,260325.0,308465.0,317900.0,277950.0,237910.0,177050.0,119580.0,81150.0,44535.0,11790.0

In [21]:
geo_name = final[['dguid', 'alt_geo_code', 'geo_level', 'geo_name']]
age_groups = final.drop(['alt_geo_code', 'geo_level', 'geo_name', 'census_year'], axis=1)

In [22]:
geo_name.head()

         dguid  alt_geo_code geo_level                   geo_name
0  2021A000210            10  Province  Newfoundland and Labrador
1  2021A000211            11  Province       Prince Edward Island
2  2021A000212            12  Province                Nova Scotia
3  2021A000213            13  Province              New Brunswick
4  2021A000224            24  Province                     Quebec

In [23]:
age_groups.head()

,dguid,male_0_to_4_years,male_10_to_14_years,male_100_years_and_over,male_15_to_19_years,male_20_to_24_years,male_25_to_29_years,male_30_to_34_years,male_35_to_39_years,male_40_to_44_years,...,female_50_to_54_years,female_55_to_59_years,female_60_to_64_years,female_65_to_69_years,female_70_to_74_years,female_75_to_79_years,female_80_to_84_years,female_85_to_89_years,female_90_to_94_years,female_95_to_99_years
0,2021A000210,9760.0,13535.0,15.0,13275.0,13555.0,12610.0,13520.0,14205.0,14775.0,...,19685.0,21615.0,21830.0,20735.0,17805.0,11780.0,7280.0,3910.0,1880.0,485.0
1,2021A000211,3475.0,4455.0,5.0,4335.0,5565.0,4765.0,4315.0,4300.0,4360.0,...,5115.0,6005.0,5970.0,5450.0,4770.0,3095.0,2110.0,1355.0,640.0,210.0
2,2021A000212,20610.0,25505.0,50.0,24770.0,30115.0,30375.0,29295.0,27960.0,26900.0,...,33175.0,39870.0,39850.0,35665.0,31140.0,20925.0,14040.0,8740.0,4300.0,1435.0
3,2021A000213,16625.0,20755.0,40.0,20105.0,21995.0,21670.0,21670.0,22470.0,23095.0,...,26450.0,31795.0,31870.0,29605.0,25135.0,16580.0,11310.0,7120.0,3645.0,1200.0
4,2021A000224,217145.0,250855.0,330.0,219400.0,235250.0,266455.0,267770.0,274350.0,286405.0,...,260325.0,308465.0,317900.0,277950.0,237910.0,177050.0,119580.0,81150.0,44535.0,11790.0

In [25]:
age_groups.to_csv('age_groups_test.csv', index=False)
geo_name.to_csv('geo_name_test.csv', index=False)

In [4]:
files = ['age_groups_of_the_population', 'occupied_private_dwellings_by_structural_type_of_dwelling', 'private_household_by_household_size', 'marital_status_for_the_total_population_aged_15_years_and_over', 'census_families_in_private_households_by_family_size', 'total_number_of_census_families_in_privatehousehold', 'persons_in_private_households', 'household_type', 'total_income_groups_in_2020_for_the_population_aged_15_years_and_over_in_private_households', 'after-tax_income_groups_in_2020_for_the_population_aged_15_years_and_over_in_private_households_', 'employment_income_groups_in_2020_for_the_population_aged_15_years_and_over_in_private_households', 'household_total_income_groups_in_2020_for_private_households', 'household_after-tax_income_groups_in_2020_for_private_households', 'lim_low-income_status_in_2020_for_the_population_in_private_households', 'in_low_income_based_on_the_low-income_measure_after_tax', 'lico_low-income_status_in_2020_for_the_population_in_private_households_to_whom_the_low-income_concept_is_applicable', 'in_low_income_based_on_the_low-income_cut-offs_after_tax', 'adjusted_after-tax_economic_family_income_decile_group_for_the_population_in_private_households', 'knowledge_of_official_languages_for_the_total_population_excluding_institutional_residents', 'first_official_language_spoken_for_the_total_population_excluding_institutional_residents', 'mother_tongue_for_the_total_population_excluding_institutional_residents', 'all_languages_spoken_at_home_for_the_total_population_excluding_institutional_residents', 'language_spoken_most_often_at_home_for_the_total_population_excluding_institutional_residents', 'other_languages_spoken_regularly_at_home_for_the_total_population_excluding_institutional_residents_']

In [24]:
cleaned_path = '/Users/boristsao/Documents/Projects/canada-vis/data-exploration/cleaned-data/'
for file in files:
    dir = cleaned_path + file
    li = []
    for csv_file in glob.glob(os.path.join(dir, '*.csv')):
        li.append(pd.read_csv(csv_file))
    
    df = pd.concat(li, axis=0, ignore_index=True)
    categories = df["NEW_CHARACTERISTIC_NAME"].unique()
    new_df = df[["CENSUS_YEAR",'DGUID', "ALT_GEO_CODE", "GEO_LEVEL", "GEO_NAME", "NEW_CHARACTERISTIC_NAME", 'C1_COUNT_TOTAL', 'C2_COUNT_MEN+', "C3_COUNT_WOMEN+"]]
    
    total = new_df.set_index(['CENSUS_YEAR', 'DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME", "NEW_CHARACTERISTIC_NAME"])['C1_COUNT_TOTAL'].unstack().reset_index()
    original_columns =  total.columns.tolist()
    t_transformed_columns = total.drop(['CENSUS_YEAR','DGUID',  'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"], axis=1).columns
    t_transformed_columns = ['CENSUS_YEAR', 'DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"]+  ["Total " + s.lstrip() for s in t_transformed_columns]
    total.columns = t_transformed_columns

    men = new_df.set_index(['CENSUS_YEAR', 'DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME", "NEW_CHARACTERISTIC_NAME"])['C2_COUNT_MEN+'].unstack().reset_index()
    original_columns =  men.columns.tolist()
    m_transformed_columns = men.drop(['CENSUS_YEAR','DGUID',  'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"], axis=1).columns
    m_transformed_columns = ['CENSUS_YEAR', 'DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"]+  ["Male " + s.lstrip() for s in m_transformed_columns]
    men.columns = m_transformed_columns

    women = new_df.set_index(['CENSUS_YEAR', 'DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME", "NEW_CHARACTERISTIC_NAME"])['C3_COUNT_WOMEN+'].unstack().reset_index()
    original_columns =  women.columns.tolist()
    f_transformed_columns = women.drop(['CENSUS_YEAR', 'DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"], axis=1).columns
    f_transformed_columns = ['CENSUS_YEAR', 'DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"]+  ["Female " + s.lstrip() for s in f_transformed_columns]
    women.columns = f_transformed_columns

    final = pd.concat([total, men, women], axis=1, join="inner", ignore_index=True, keys=['CENSUS_YEAR', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"])
    final_columns = t_transformed_columns + m_transformed_columns + f_transformed_columns
    final.columns = final_columns
    final = final.loc[:,~final.columns.duplicated()].copy()
    final = final.dropna(axis=1, how="all")
    new_columns = {}

    for column in final.columns:
        new_columns[column] = column.lower().replace(" ", "_").replace("-", "_")
    new_df = final.rename(columns = new_columns)
    new_df = new_df.fillna(0)
    final_data_path = '/Users/boristsao/Documents/Projects/canada-vis/data-exploration/final-data/'
    new_df.to_csv(final_data_path + file + '.csv', index=False)

/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/1146424995.py:6: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))

In [25]:

dir = '/Users/boristsao/Documents/Projects/canada-vis/data-exploration/cleaned-data/summary'
li = []
for csv_file in glob.glob(os.path.join(dir, '*.csv')):
    li.append(pd.read_csv(csv_file))

df = pd.concat(li, axis=0, ignore_index=True)
categories = df["NEW_CHARACTERISTIC_NAME"].unique()
new_df = df[["CENSUS_YEAR",'DGUID', "ALT_GEO_CODE", "GEO_LEVEL", "GEO_NAME", "NEW_CHARACTERISTIC_NAME", 'C1_COUNT_TOTAL', 'C2_COUNT_MEN+', "C3_COUNT_WOMEN+"]]

total = new_df.set_index(['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME", "NEW_CHARACTERISTIC_NAME"])['C1_COUNT_TOTAL'].unstack().reset_index()
original_columns =  total.columns.tolist()
t_transformed_columns = total.drop(['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"], axis=1).columns
t_transformed_columns = ['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"]+  ["Total " + s.lstrip() for s in t_transformed_columns]
total.columns = t_transformed_columns

men = new_df.set_index(['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME", "NEW_CHARACTERISTIC_NAME"])['C2_COUNT_MEN+'].unstack().reset_index()
original_columns =  men.columns.tolist()
m_transformed_columns = men.drop(['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"], axis=1).columns
m_transformed_columns = ['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"]+  ["Male " + s.lstrip() for s in m_transformed_columns]
men.columns = m_transformed_columns

women = new_df.set_index(['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME", "NEW_CHARACTERISTIC_NAME"])['C3_COUNT_WOMEN+'].unstack().reset_index()
original_columns =  women.columns.tolist()
f_transformed_columns = women.drop(['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"], axis=1).columns
f_transformed_columns = ['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"]+  ["Female " + s.lstrip() for s in f_transformed_columns]
women.columns = f_transformed_columns

final = pd.concat([total, men, women], axis=1, join="inner", ignore_index=True, keys=['CENSUS_YEAR','DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', "GEO_NAME"])
final_columns = t_transformed_columns + m_transformed_columns + f_transformed_columns
final.columns = final_columns
final = final.loc[:,~final.columns.duplicated()].copy()
final = final.dropna(axis=1, how="all")
new_columns = {}

for column in final.columns:
    new_columns[column] = column.lower().replace(" ", "_")
new_df = final.rename(columns = new_columns)
new_df = new_df.fillna(0)
final_data_path = '/Users/boristsao/Documents/Projects/canada-vis/data-exploration/final-data/'
new_df.to_csv(final_data_path + 'summary' + '.csv', index=False)

/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/4081700130.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/4081700130.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/4081700130.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_20027/4081700130.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))