In [1]:
# Loading the Libraries
from dotenv import load_dotenv
load_dotenv()
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import os,glob

In [2]:
AGE_GROUP_PATH = '/Users/boristsao/Documents/Projects/canada-vis/data-exploration/age_groups_test.csv'
GEO_NAME_PATH = '/Users/boristsao/Documents/Projects/canada-vis/data-exploration/geo_name_test.csv'
#CHANGE
age_group = pd.read_csv(AGE_GROUP_PATH)
geo_name = pd.read_csv(GEO_NAME_PATH)
# df.shape

In [3]:
age_group.head()
geo_name.head()

         dguid  alt_geo_code geo_level                   geo_name
0  2021A000210            10  Province  Newfoundland and Labrador
1  2021A000211            11  Province       Prince Edward Island
2  2021A000212            12  Province                Nova Scotia
3  2021A000213            13  Province              New Brunswick
4  2021A000224            24  Province                     Quebec

In [4]:
age_group = age_group.fillna(0)

In [5]:
# Creating Connection
ssl_args = {'ssl_ca': "/etc/ssl/cert.pem"}

conn_string = 'mysql+pymysql://' + "root" + ':' + "Chuckie2020!" + '@' + "localhost" + '/' + "canada_vis" 

engine = create_engine(conn_string, connect_args=ssl_args)

In [5]:
# Connecting Locally
ssl_args = {'ssl_ca': "/etc/ssl/cert.pem"}

conn_string = 'mysql+pymysql://' + os.getenv("USERNAME") + ':' + os.getenv("PASSWORD") + '@' + os.getenv("HOST") + '/' + os.getenv("DATABASE") 

engine = create_engine(conn_string, connect_args=ssl_args)

In [6]:
print(os.getenv("PASSWORD"))

pscale_pw_mSCd2tWSPRXgAc06lKr1MT9yrdxVvKcOqgSqN58PcWr

In [7]:
with engine.begin() as connection:
    age_group.to_sql('age_groups', con=connection, if_exists='replace')
    geo_name.to_sql('geo_names', con=connection, if_exists='replace')

In [6]:
with engine.begin() as connection:
    age_group.to_sql('age_groups', con=connection, if_exists='append')

In [8]:
with engine.begin() as connection:
    read_test = pd.read_sql("SELECT * FROM age_groups a, geo_names g WHERE  a.dguid = g.dguid AND g.geo_name='British Columbia' ", con=connection)
#     df = pd.read_csv(csv,encoding="ISO-8859-1")
#     df.to_sql('age_groups', con=connection, if_exists='append')
read_test.head()

,index,dguid,male_0_to_4_years,male_10_to_14_years,male_100_years_and_over,male_15_to_19_years,male_20_to_24_years,male_25_to_29_years,male_30_to_34_years,male_35_to_39_years,...,female_75_to_79_years,female_80_to_84_years,female_85_to_89_years,female_90_to_94_years,female_95_to_99_years,index,dguid,alt_geo_code,geo_level,geo_name
0,9,2021A000259,111015.0,132425.0,330.0,131245.0,151505.0,170500.0,178925.0,175175.0,...,95015.0,65780.0,42005.0,23120.0,6925.0,9,2021A000259,59,Province,British Columbia

In [ ]:
# Upload Census Division and Province Data
with engine.begin() as connection:
    new_df.to_sql('age_groups', con=connection, if_exists='append')