In [1]:
import pandas as pd
import numpy as np
import os,glob

columns = ['DGUID', 'ALT_GEO_CODE', 'GEO_LEVEL', 'GEO_NAME', 'NEW_CHARACTERISTIC_NAME', 'C2_COUNT_MEN+', 'C3_COUNT_WOMEN+']
new_columns = {'DGUID': 'dguid', 'ALT_GEO_CODE':  'alt_geo_code' ,'GEO_NAME': 'geo_name', 'GEO_LEVEL': 'geo_level', 'NEW_CHARACTERISTIC_NAME': 'characteristic_name',
             'C2_COUNT_MEN+': 'men',  'C3_COUNT_WOMEN+': 'women'}

DATA_CSV = '/Users/boristsao/Documents/Projects/canada-vis/data-exploration/cleaned-data/age_groups_of_the_population/age_groups_of_the_population_Territories.csv'

In [7]:
df = pd.read_csv(DATA_CSV)
df = df.fillna(0)
df.head()

,Unnamed: 0,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,TNR_SF,TNR_LF,DATA_QUALITY_FLAG,CHARACTERISTIC_ID,CHARACTERISTIC_NAME_x,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,CHARACTERISTIC_NAME_y,Depth,Keep or Not Keep,Category,Flag,NEW_CHARACTERISTIC_NAME
0,9,2021,2021A000260,60,Territory,Yukon,4.3,10.5,10,10,0 to 4 years,2175.0,1090.0,1085.0,0 to 4 years,4,Keep,age_groups_of_the_population,Category,0 to 4 years
1,10,2021,2021A000260,60,Territory,Yukon,4.3,10.5,10,11,5 to 9 years,2375.0,1245.0,1130.0,5 to 9 years,4,Keep,age_groups_of_the_population,Category,5 to 9 years
2,11,2021,2021A000260,60,Territory,Yukon,4.3,10.5,10,12,10 to 14 years,2275.0,1205.0,1065.0,10 to 14 years,4,Keep,age_groups_of_the_population,Category,10 to 14 years
3,13,2021,2021A000260,60,Territory,Yukon,4.3,10.5,10,14,15 to 19 years,2085.0,1085.0,995.0,15 to 19 years,4,Keep,age_groups_of_the_population,Category,15 to 19 years
4,14,2021,2021A000260,60,Territory,Yukon,4.3,10.5,10,15,20 to 24 years,2140.0,1080.0,1060.0,20 to 24 years,4,Keep,age_groups_of_the_population,Category,20 to 24 years

In [8]:
df = df[columns]
df = df.rename(columns=new_columns)

In [9]:
df = df.melt(id_vars=['dguid', 'geo_name', 'alt_geo_code', 'geo_level', 'characteristic_name'], var_name='gender', value_name='values')

In [5]:
df.head()

,dguid,geo_name,alt_geo_code,geo_level,gender,values
0,2021A000260,Yukon,60,Territory,characteristic_name,0 to 4 years
1,2021A000260,Yukon,60,Territory,characteristic_name,5 to 9 years
2,2021A000260,Yukon,60,Territory,characteristic_name,10 to 14 years
3,2021A000260,Yukon,60,Territory,characteristic_name,15 to 19 years
4,2021A000260,Yukon,60,Territory,characteristic_name,20 to 24 years

In [41]:
df.to_csv('test.csv')

In [44]:
csv_files = '/Users/boristsao/Documents/Projects/canada-vis/data-exploration/cleaned-data/age_groups_of_the_population/'
li = []
for csv_file in glob.glob(os.path.join(csv_files, '*.csv')):
        li.append(pd.read_csv(csv_file))
df = pd.concat(li, axis=0, ignore_index=True)
df = df.fillna(0)
df.head()

/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_34966/2494813060.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))
/var/folders/0p/c1842hdx3cl1f16fhby8ffhr0000gn/T/ipykernel_34966/2494813060.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  li.append(pd.read_csv(csv_file))

,Unnamed: 0,CENSUS_YEAR,DGUID,ALT_GEO_CODE,GEO_LEVEL,GEO_NAME,TNR_SF,TNR_LF,DATA_QUALITY_FLAG,CHARACTERISTIC_ID,CHARACTERISTIC_NAME_x,C1_COUNT_TOTAL,C2_COUNT_MEN+,C3_COUNT_WOMEN+,CHARACTERISTIC_NAME_y,Depth,Keep or Not Keep,Category,Flag,NEW_CHARACTERISTIC_NAME
0,9,2021,2021A000235,35,Province,Ontario,2.8,3.8,20000,10,0 to 4 years,683515.0,350035.0,333480.0,0 to 4 years,4,Keep,age_groups_of_the_population,Category,0 to 4 years
1,10,2021,2021A000235,35,Province,Ontario,2.8,3.8,20000,11,5 to 9 years,764430.0,392380.0,372050.0,5 to 9 years,4,Keep,age_groups_of_the_population,Category,5 to 9 years
2,11,2021,2021A000235,35,Province,Ontario,2.8,3.8,20000,12,10 to 14 years,803850.0,413215.0,390635.0,10 to 14 years,4,Keep,age_groups_of_the_population,Category,10 to 14 years
3,13,2021,2021A000235,35,Province,Ontario,2.8,3.8,20000,14,15 to 19 years,801455.0,413485.0,387970.0,15 to 19 years,4,Keep,age_groups_of_the_population,Category,15 to 19 years
4,14,2021,2021A000235,35,Province,Ontario,2.8,3.8,20000,15,20 to 24 years,895600.0,465525.0,430075.0,20 to 24 years,4,Keep,age_groups_of_the_population,Category,20 to 24 years

In [45]:
df = df[columns]
df = df.rename(columns=new_columns)
df = df.melt(id_vars=['dguid', 'geo_name', 'alt_geo_code', 'geo_level', 'characteristic_name'], var_name='gender', value_name='values')
df.head()

,dguid,geo_name,alt_geo_code,geo_level,characteristic_name,gender,values
0,2021A000235,Ontario,35,Province,0 to 4 years,men,350035.0
1,2021A000235,Ontario,35,Province,5 to 9 years,men,392380.0
2,2021A000235,Ontario,35,Province,10 to 14 years,men,413215.0
3,2021A000235,Ontario,35,Province,15 to 19 years,men,413485.0
4,2021A000235,Ontario,35,Province,20 to 24 years,men,465525.0

In [51]:
df.to_csv('test.csv', index=False)

In [48]:
df.shape

(2662926, 7)